/**
 * Tab CSS
 * ==========================
 */
.tab-component {
    margin: 20px auto;
    max-width: 800px;
    padding: 5px;
}

.tabs-container > .tab-contents, .hide {
    display: none;
}

.hide-radio {
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.tab-component > input[type=radio].tab-component-tab {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.tab-component label.tab-component-label {
    background-color: #fff;
    bottom: 5px;    /* To provide some space */
    cursor: pointer;
    font-size: 1.2em;
    margin-left: -4px;
    margin-right: -4px;
    padding: 10px 16px 5px 26px;
    position: relative;
    text-transform: capitalize;
    z-index: 1000;
}

.tab-component > .tab-component-label::after {
    background: #Bcd4e6;
    content: "";
    height: 1em; /* Relative to the height of the text yaye :)*/
    left: 12px;
    position: absolute;
    top: 10px;
    width: 5px;
}

/* Hover Events */
.tab-component > .tab-component-label:hover {
    color: #2281CF;
}

.tab-component > .tab-component-label:hover::after,
.tab-component > .tab-component-label:checked + .tab-component-label::after {
    background: #4D71A3;
}

/* Where the magic happens */
input[type=radio]#shipping-billing-form:checked ~ .tabs-content-container > .tab-contents[data-target="shipping-billing-form"],
input[type=radio]#credit-card-form:checked ~ .tabs-content-container > .tab-contents[data-target="credit-card-form"] {
    display: block;
    opacity: 1;
}

.tab-component > input[type=radio]:checked + label{
    background-color: #f0f9ff;
    border: 1px solid #82cffa;
    border-bottom: 0;
    color: #4D71A3;
    padding-bottom: 7px;
}

/* Hide tabs by default */
.tabs-content-container > div.tab-contents {
    display: none;
    opacity: 0;
}

.tabs-content-container {
    border-top: 1px solid #82cffa;
}

/*
 * Utility classes
 * =======================
 */

.col-12, .col-8, .col-6, .col-4 {
    display: inline-block;
    padding: 1%;
    vertical-align: top;
}

.col-12, .full-width, .btn-submit {
    width: 100%;
}

.col-8 {
    width: 66%;
}

.col-6 {
    width: 49.5%;
}

.col-4 {
    width: 32.9%;
}

.row {
    margin: 20px;
}

.margin-top-20 {
    margin-top: 20px !important;
}

.margin-right-20 {
    margin-right: 20px;
}

.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

.hide {
    display: none;
}

.align-middle {
    vertical-align: middle;
}

.align-bottom {
    vertical-align: bottom;
}

.text-center {
    text-align: center;
}

.center-block {
    margin: 0 auto;
}

/**
 * Form classes
 * =============================
 */

* {
    box-sizing: border-box;
}

.form {
    border: 1px solid #ececec;
    box-shadow: 1px 1px 4px 1px #999;
    margin: 50px auto;
    max-width: 1024px;
}

.header {
    line-height: 1.75em;
    margin-left: 20px;
}

.header, .line-separator {
    border-bottom: 1px solid #ececec;
}

.header-form {
    position: relative;
    padding-left: 12px;
}
.header-form::before {
    content: "";
    height: 1em;
    left: 2px;
    top: 0.3em;
    position: absolute;
    width: 3px;
}

.header-form-brown::before {
    background-color: brown;
}

.header-form-orange::before {
    background-color: #e7a61a;
}


.input, .input-form-label {
    font-size: 1.2em;
}

.input-form-label {
    font-weight: 500;
    line-height: 1.6em;
    letter-spacing: 0.05em;
    margin-bottom: 5px;
}

.form .input {
    background-color: #f9f9f8;
    border: 3px solid #f1f1f2;
    border-radius: 6px;
    padding: 10px;
}

.btn {
    border: none;
    border-radius: 0;
    cursor: pointer;
    padding: 15px;
    transition: all 0.5s ease-in-out;
}

.btn-dark-blue {
    background-color: #003366;
    color: #fff;
}

.btn:hover {
    opacity: 0.7;
}

.btn-submit {
    background-color: #2196F3;
    color: #FFF;
    font-size: 1.5em;
    font-weight: 500;
}

.btn-orange {
    background-color: orange;
}

.notification {
    border: 10px double #f1f2f3;
    border-radius: 8px;
    font-size: 1.1em;
    padding: 12px 20px;
    text-decoration: none;
}

.notification-light-silver {
    background-color: #fefefe;
}

/**
 * Circle checkbox
 * ==============================
 */
.checkbox-square {
    background-color: #444;
    cursor: pointer;
    position: relative;
    width: 50px;
    height: 50px;
}

.checkbox-square > div.checkbox-square-container {
    border: 3px solid #fff;
    bottom: 0;
    left: 0;
    margin: 8px;   /* Offset to draw box */
    position: absolute;
    right: 0;
    top: 0;
}

.checkbox-square > input[type=checkbox]:checked + div.checkbox-square-container:after {
    bottom: 0;
    left: 5px;
    color: #fff;
    content: "\2713";
    font-size: 24px;
    position: absolute;
}

.row-contract-confirmation {
    margin: 50px 20px;
}

/*
 * Heads up section
 * ==============================
 */
.alert {
    background-color: azure;
    font-size: 1.25em;
    line-height: 1.65em;
    margin-top: 20px;
    padding: 30px 15px 15px 15px;
    position: relative;
}

.alert, .alert:before {
    border: 2px solid #f1f1f2;
}

.alert:before {
    background-color: #fefba8;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    content: 'Heads up!';
    font-weight: 700;
    left: -20px;
    padding: 10px;
    position: absolute;
    top: -30px;
}

@media screen and (max-width: 768px) {
    .col-12, .col-8, .col-6, .col-4 {
        width: 100%;
        margin: 12px 0;
    }
    .tab-component label.tab-component-label {
        display: block;
    }
}